$main: #59c1cd;
$accent: #6fb800;

$navbar-inverse-link-color: white;
$navbar-inverse-link-hover-color: $main;
$navbar-inverse-brand-hover-color: $main;

$link-color: black;
$link-hover-decoration: none;
