<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="/images/favicon.png" />
        {% assign folder = page.url | split: '/'  %}
        <title>{{ site.title}}{% if folder[1] %} - {{ folder[1] | capitalize }} {% endif %}</title>
        <!-- Stylesheets -->
        <link rel="stylesheet" href="/styles/main.css">
        <!-- Javascript files -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/c43ddf8f68.js"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>

    </head>
    <body>
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/index.html">Anidata</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li><a href="/index.html">Home</a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="/about/index.html" role="button">About <span class="caret hidden-xs"> </span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/about/index.html">About Us</a></li>
                    <li><a href="/about/index.html#what">What is 'Anidata'?</a></li>
                    <li><a href="/about/index.html#who">Our Members</a></li>
                  </ul>
                </li>
                <li><a href="/projects/index.html">Projects</a></li>
                <li><a href="/starters/index.html">Contribute <i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li><a href="/blog/index.html">Blog</a></li>
                <li><a href="/events/index.html">Events</a></li>
                <li><a href="/contact/index.html">Contact</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right social">
                <a class="btn btn-github github-button" href="https://github.com/Anidata" aria-label="Follow @Anidata on GitHub">@anidata</a>
              </ul>
            </div>
          </div>
        </nav>

        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                {{ content }}
            </div>
            <div class="col-xs-1"></div>
          </div>
        </div>
    </body>
</html>
