<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="/images/favicon.png" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div id="top-bar">
            <ul class="navigation">
                <li class="item"><a href="/index.html"><b>Home</b></a></li>
                <li class="item"><a href="/blog/index.html"><b>Blog</b></a></li>
                <li id="me"><a href="/index.html"><img src="/images/brand.png"/></a></li>
            </ul>
        </div>
        <div id="padding"></div>
        <div id="main">
            {{content}}
        </div>
        <br>
        <br>
        <div class="footer">
            <footer>
                <ul class="contact-us">
                    <li id="git">
                        <a href="https://github.com/anidata">
                            <img src="/images/github.png" height = "20px" width = "auto"/>
                        </a>
                    </li>
                    <li id="mail">
                        <a href="mailto:%69%6e%66%6f%40%61%6e%69%64%61%74%61%2e%6f%72%67">
                            <span class="fa fa-envelope fa-4 icon">
                        </a>
                    </li>
                </ul>
            </footer>
        </div>
    </body>
</html>
