---
layout: default
---

<div class="starters">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.min.js"
          integrity="sha512-MkL0QRXlxubtyaWFJh8yWiRhaQrc+SeFfdvjwFwnUjvB/ZgCaMYlYxJ+JdzfiCYYV+cQ3MMwv+lV685SXxK0/Q=="
          crossorigin="anonymous"
          charset="utf-8"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"
          integrity="sha512-vjqLmddiMORo2KKnzvlZ0fMnp7Z8+U+PIzG8h/TLVhZyXpbvdfiaPiZCVtzMIC91TeM5mNKIbTIMMlPAH70uoA=="
          crossorigin="anonymous"
          charset="utf-8"></script>

  {{ content }}

  <script src="./site.js"></script>
</div>
