---
---

@import "variables";
@import "bootstrap";

.main {
	color: $main;
}

.accent {
	color: $accent;
}

.white {
	color: white;
	&:active, &:hover, &:focus{
		color: white;
	}
}

.main-bg {
	background-color: $main;
}

.accent-bg {
	background-color: $accent;
}

.social {
	margin-top: 15px;
}

.nounderline {
	text-decoration: none;
}

.show-link {
	text-decoration: underline;
	color: $accent;
	&:active, &:hover, &:focus{
		text-decoration: underline;
		color: $accent;
	}
}

.img-person {
	max-height: 150px;
}

.img-thumbnail2{
  height: 100px;
}

.btn-bio {
	margin-top: 2em;
	margin-bottom: 2em;
}
