---
---

@import "variables";
@import "bootstrap";

.main {
    color: $main;
}

.accent {
    color: $accent;
}

.white {
    color: white;
    &:active, &:hover, &:focus{
        color: white;
    }
}

.main-bg {
    background-color: $main;
}

.accent-bg {
    background-color: $accent;
}

.social {
    margin-top: 15px;
}

.nounderline {
    text-decoration: none;
}

.show-link {
    color: $accent;
    &:active, &:hover, &:focus{
        color: $accent;
        border-bottom: 2px solid $accent;
    }
}

.navbar {
    border-radius: 0px;
}

#main-content {
  min-height: 94%;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: .5em;
  margin-top: 1em;
}

#img-main {
    width: 100%;
}

.img-person {
    max-height: 150px;
}

.img-thumbnail2{
  height: 100px;
}

.btn-bio {
    margin-top: 2em;
    margin-bottom: 2em;
}

.starters {
    h1, h2, hr {
        color: $main;
    }

    a {
        color: $accent;
        text-decoration: none;
    }

    a:hover {
        border-bottom: 2px solid $accent;
    }

    #content {
        max-width: 768px;
        margin: 0 auto;
    }

    #issues {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #issues li {
        margin-bottom: 20px;
    }

    .labels {
        margin-top: 0;
    }

    .label:first-child {
        margin-left: 0;
    }

    .label {
        display: inline-block;
        color: white;
        font-weight: bold;
        font-size: 9px;
        padding: 4px 8px;
        margin: 5px;
        border-radius: 3px;
    }

    h2 {
        border-bottom: 3px solid;
        padding-bottom: 10px;
    }

    .view-all {
        text-align: center;
        font-style: italic;
        color: $accent;
        padding: 10px;
    }

    .view-all:hover {
        cursor: pointer;
        background-color: #eee;
    }

    .button {
        display: block;
        background-color: $accent;
        color: white;
        font-weight: bold;
        margin: 0 auto;
        padding: 10px 15px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        transition: 300ms;
    }

    .button:hover {
        background-color: $accent;
        transform: scale(1.1);
        transition: 300ms;
    }

    .time-wrapper {
      border-bottom: $main solid 1px;
      padding-bottom: 5px;
    }
    .time {
      font-size: 0.75em;
      color: rgba(140, 139, 139, 0.77);
    }

    .language-picker {
      text-align: center;
    }
}
