---
---

@import "variables";
@import "bootstrap";

.main {
	color: $main;
}

.accent {
	color: $accent;
}

.white {
	color: white;
	&:active, &:hover, &:focus{
		color: white;
	}
}

.main-bg {
	background-color: $main;
}

.accent-bg {
	background-color: $accent;
}

.social {
	margin-top: 15px;
}

.nounderline {
	text-decoration: none;
}

.img-person {
	max-height: 250px;
}

.img-thumbnail2{
  max-height: 150px;
  width: 150px;
}


.btn-bio {
	margin-top: 2em;
}
